<footer class="footer">
    <div class="copyright active">
    <p>&copy 2022- Conslutopedia</p>
    </div>
    <div class="social justify-content-end">
    <a href="Contact" class="support">Contact Us</a>
    <a href="https://www.facebook.com/" class="face">f</a>
    <a href="https://twitter.com/explore" class="tweet">t</a>
    <a href="https://www.instagram.com/?hl=en" class="linked">in</a>
    </div>
</footer>
</div>
</div>