.container-fluid{
    padding:0px;
}
.Slide_Bar{
    margin-top: 10px;
    padding-right: 0px;
}
.Nav_Pad{
    padding:10px 0px 10px 0px;
}
.Main_Data{
    padding:10px 2px 2px 2px;
}
.Main_Body{
    background-color:lightgray;
    height:100%;
}
