
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <%if(role.length>0){%>
      <a class="navbar-brand" href="index"><%=role%>  <%=name %></a>
      <%}%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse justify-content-end  navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link " aria-current="page" href="index">Home</a>
          <a class="nav-link" href="About">About us</a>
          <a class="nav-link disabled">Events</a>
          <a class="nav-link" href="Contact">Contact</a>
          <% if(auth){ %>
            <% if(role=="counselor"){%>
                <a class="nav-link" href="Counselor_Dashboard">Dashboard</a>
            <% }else if(role=="admin"){ %>    
                <a class="nav-link" href="Admin_Dashboard">Dashboard</a>
            <% }else{ %> 
                <a class="nav-link" href="Customer_Dashboard">Dashboard</a>
                <% } %>    
            <!-- <a class="nav-link" href="Contact">Contact</a> -->
            <a class="nav-link" href="logout">Logout</a>
             <% }else{ %>
          <a class="nav-link" href="login">Login</a>
          <a class="nav-link" href="registration">Sign up</a>
          <% } %>
          
          
          
        </div>
      </div>
    </div>
  </nav>
  
  
    