<html>

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="css/style.css" />
    <%- include('partials/head'); %>
</head>

<body>
    <!-- include nav bar -->
    

    <!-- admin section -->
    <div class="container-fluid Main_Body">

        <div class="row">
            <!-- side bar -->

            <!-- body -->

            <div class="col-12 ">
                <img src="https://www.rxdx.in/wp-content/uploads/2020/04/Consult-doctor-online-Telemedicine.jpg"
                    class="img-fluid" alt="Responsive image">

            </div>

            <div class="container Main_Data ">
                <div class="row ">


                  
                    <div class="row">
                      <div class="col-3"></div>
                      <div class="col-9"><h1>Login Here</h1></div>
                        <div class="col-3"></div>

                        <div class="col-6">
                            <form action="/login" method="post">
                                <div class="form-group">
                                  <label for="forName">Email Id</label>
                                  <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                                </div>
                  
                  
                  
                  
                                <div class="form-group">
                                  <label for="forName">Password</label>
                                  <input type="password" class="form-control" name="password" id="password" placeholder="min 6 characters" />
                  
                  
                                </div>
                                <br>
                                <input class="btn btn-primary btn-lg btnCenter" type="submit" value="Login" />
                  
                              </form>

                        </div>
                        <div class="col-3"></div>

                    </div>













                </div>
            </div>
        </div>


    </div>
    <%- include('partials/Footer'); %>
    






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>