.container-fluid{
    padding:0px;
    margin:auto;
}
.Slide_Bar{
    margin-top: 10px;
    padding-right: 0px;
}
.Nav_Pad{
    padding:10px 0px 10px 0px;
}
.Main_Data{
    padding:10px ;
    height:100%;
}

body{
    background-color:cornsilk;
}
.ad-card{
    width: 18rem;
}
p{
    text-align:justify;
    font-size: large;
}


.br{
    border-radius: 7px ;
    box-shadow: 13px 1px 26px -4px rgba(207,176,176,0.61),-7px -4px 26px -4px rgba(207,176,176,0.61);
    
}
footer {
	width: 100%;
	display: inline-block;
	margin: 2em 0;
	height: 70px;
	background-color: #999;
}
footer .copyright {
	width: 50%;
	float: left;
}
@media (max-width: 600px) {
	footer .copyright {
		width: 100%;
	}
}
footer .copyright p {
	padding-left: 10%;
	color: white;
	font-size: 0.7em;
	line-height: 70px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
@media (max-width: 600px) {
	footer .copyright p {
		text-align: center;
		padding: 0;
	}
}
footer .social {
	width: 50%;
	float: right;
}
@media (max-width: 600px) {
	footer .social {
		width: 100%;
	}
}
footer .social a {
	float: left;
	line-height: 70px;
	text-decoration: none;
	color: white;
	text-align: center;
	font-weight: bold;
    margin-bottom:0px;
}
.linked {
    background-color:royalblue;
    font-size: 10px;
    width: 25%;
  }
  .face {
    background-color:blue;
    font-size: 10px;
    width: 25%;
  }
  .tweet {
    background-color:cornflowerblue;
    font-size: 10px;
    width: 25%;
  }
  .support {
    background-color:indigo;
    font-size: 10px;
    width: 25%;
  }

  .responsive {
    width: 100%;
    height: auto;
  }
  .footer {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .height{
    height:100%;
  }